@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* 1 */
body {
    background-attachment: fixed;
    background-color: #B4B4B4;
    background-image: url(../imgs/pink-flowers.webp);
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

/* 10 */
.wrapper {
    width: 88%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 4%;
  }



/* 10 */
.header__heading, .article__heading, .article__text--specify, 
/* 20 */
.nav__link:hover {
    color: #A11414;
}

/* 10 */
.header__heading {
    margin-bottom: 46px;
    padding-top: 96px; 
    font-size: 2rem;
    color: #A11414;
}

/* 10 */
.header__heading--modify, .article__heading, .nav__heading, .footer__item--modify,
/* 20 */
.nav__link:hover {
    font-weight: 700;
}

/* 10 */
.header__heading--modify, .article__text--modify {
    text-transform: uppercase;
}

/* 10 */
.header__img-wrap {
    margin-bottom: 57px;
    padding: 14px 1%;
    border: 1px solid #000;
    border-radius: 2px;
}

/* 11 */
.header__img-wrap img{
    width: 100%;
}

/* 10 */
.section--flx {
    display: flex;
}

/* 10 */
.nav__wrap {
    width: 21%;
    margin: 2px 0 29px 0.25%;
    padding: 26px 0 29px 2.5%;
    border-radius: 2px 15px;
    background: #D7D7D7;
    font-family: Arial;
}

/* 10 */
.nav__heading {
    margin-bottom: 24px;
    text-transform: uppercase;
}

/* 10 */
.nav__link {
    color: #000;
    text-decoration: none;
}

/* 20 */
.nav__link:hover {
    text-decoration: underline;
}

/* 10 */
.article__heading {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

/* 10 */
.article__text--add {
    text-decoration: line-through;
}

/* 10 */
.article__item--new {
    margin-top: 2em;
}

/* 10 */
.article__item, .article__item--new {
    font-size: 1rem;
    text-indent: 3.5%;
}

/* 10 */
.footer {
    width: 85%;
    margin-top: 4px;
    padding-bottom: 18px;
}

/* 10 */
.footer__line {
    background: url("../imgs/back.gif") no-repeat 0 50%;
    background-size: 100%;
}

/* 10 */
.footer__item {
    text-align: center;
    padding: 7px 0 6px;
    color: #403636;
}
